<footer class="footer footer-2">
    <div class="icon-boxes-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="icon-box icon-box-side">
                        <span class="icon-box-icon">
                            <i class="icon-rocket"></i>
                        </span>

                        <div class="icon-box-content">
                            <h3 class="icon-box-title">Miễn phí giao hàng</h3><!-- End .icon-box-title -->
                            <p>Khi đặt trên 2 sản phẩm</p>
                        </div><!-- End .icon-box-content -->
                    </div><!-- End .icon-box -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="icon-box icon-box-side">
                        <span class="icon-box-icon">
                            <i class="icon-rotate-left"></i>
                        </span>

                        <div class="icon-box-content">
                            <h3 class="icon-box-title">Đổi trả miễn phí</h3><!-- End .icon-box-title -->
                            <p>Trong vòng 2 tháng</p>
                        </div><!-- End .icon-box-content -->
                    </div><!-- End .icon-box -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="icon-box icon-box-side">
                        <span class="icon-box-icon">
                            <i class="icon-info-circle"></i>
                        </span>

                        <div class="icon-box-content">
                            <h3 class="icon-box-title">Giảm 20% sản phẩm</h3><!-- End .icon-box-title -->
                            <p>Cho lần đầu đăng ký</p>
                        </div><!-- End .icon-box-content -->
                    </div><!-- End .icon-box -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="icon-box icon-box-side">
                        <span class="icon-box-icon">
                            <i class="icon-life-ring"></i>
                        </span>

                        <div class="icon-box-content">
                            <h3 class="icon-box-title">Hỗ trợ</h3><!-- End .icon-box-title -->
                            <p>Luôn phục vụ 24/7</p>
                        </div><!-- End .icon-box-content -->
                    </div><!-- End .icon-box -->
                </div><!-- End .col-sm-6 col-lg-3 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .icon-boxes-container -->

    <div class="footer-middle border-0">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-6">
                    <div class="widget widget-about">
                        <img src="~/Assets/Client/images/logohsv_khongnen.png" class="footer-logo" alt="Footer Logo" width="180" height="35">
                        <p>
                            Được biết đến là đơn vị ủy quyền bán lẻ chính thức tại Việt Nam,
                            chuyên kinh doanh các sản phẩm Laptop Gaming cao cấp, PC đồ họa, linh-phụ kiện,
                            thiết bị giải trí của nhiều nhãn hàng lớn như Acer, Asus, Apple, Dell, HP, Lenovo, MSI, Gigabyte, Razer, HyperX, Logitech, Samsung…
                        </p>
                        <div class="widget-about-info">
                            <div class="row">
                                @*<div class="col-sm-6 col-md-4">
                                    <span class="widget-about-title">Nếu có thắc mắc? Gọi cho chúng tôi 24/7</span>
                                    <a href="tel:123456789">+0123 456 789</a>
                                </div>*@
                                <div class="col-sm-6 col-lg-8">
                                    <span class="widget-about-title">Phương thức thanh toán</span>
                                    <figure class="footer-payments">
                                        <img src="~/Assets/Client/images/payments.png" alt="Payment methods" width="272" height="20">
                                    </figure><!-- End .footer-payments -->
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .row -->
                        </div><!-- End .widget-about-info -->
                    </div><!-- End .widget about-widget -->
                </div><!-- End .col-sm-12 col-lg-3 -->

                <div class="col-sm-4 col-lg-2">
                    <div class="widget">
                        <h4 class="widget-title">Sản phẩm</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="#">Giá tốt nhất</a></li>
                            <li><a href="#">Sản phẩm mới</a></li>
                            <li><a href="#">Bán chạy nhất</a></li>
                            <li><a href="#">Liên hệ chúng tôi</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-4 col-lg-3 -->

                <div class="col-sm-4 col-lg-2">
                    <div class="widget">
                        <h4 class="widget-title">Dịch vụ khách hàng</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="#">Phương thức thanh toán</a></li>
                            <li><a href="#">Hoàn tiền</a></li>
                            <li><a href="#">Vận chuyển</a></li>
                            <li><a href="#">Chính sách và điều kiện</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-4 col-lg-3 -->

                <div class="col-sm-4 col-lg-2">
                    <div class="widget">
                        <h4 class="widget-title">Tài khoản của tôi</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="@Url.Action("SignIn", "Account")">Đăng nhập</a></li>
                            <li><a href="/cart">Giỏ hàng</a></li>
                            <li><a href="@Url.Action("TrackingOrder", "Account")">Đơn hàng</a></li>
                            <li><a href="#">Hỗ trợ</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-64 col-lg-3 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .footer-middle -->

    <div class="footer-bottom">
        <div class="container">
            <p class="footer-copyright">Bản quyền thuộc về Healthcare Solution Viet Nam © 2023.</p><!-- End .footer-copyright -->
            <ul class="footer-menu">
                <li><a href="#">Điều khoản sử dụng</a></li>
                <li><a href="#">Chính sách bảo mật</a></li>
            </ul><!-- End .footer-menu -->

            <div class="social-icons social-icons-color">
                <span class="social-label">Truyền thông xã hội</span>
                <a href="#" class="social-icon social-facebook" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon social-twitter" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon social-instagram" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon social-youtube" title="Youtube" target="_blank"><i class="icon-youtube"></i></a>
                <a href="#" class="social-icon social-pinterest" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
            </div><!-- End .soial-icons -->
        </div><!-- End .container -->
    </div><!-- End .footer-bottom -->
</footer><!-- End .footer -->