@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Không tìm thấy trang</title>
    <link rel="stylesheet" href="~/Assets/Client/css/404.css" />
</head>
<body class="bg-purple">
    <div class="stars">       
        <div class="central-body">
            @*<img class="image-404" src="http://salehriaz.com/404Page/img/404.svg" width="300">*@
            <h2>404</h2>
            <p>Oops! Trang bạn kiếm có vẻ không tồn tại</p>
            <a href="/" class="btn-go-home" target="_blank"><i class="fa fa-chevron-left"></i>Quay về trang chủ</a>
        </div>
        <div class="objects">
            <img class="object_rocket" src="http://salehriaz.com/404Page/img/rocket.svg" width="40">
            <div class="earth-moon">
                <img class="object_earth" src="http://salehriaz.com/404Page/img/earth.svg" width="100">
                <img class="object_moon" src="http://salehriaz.com/404Page/img/moon.svg" width="80">
            </div>
            <div class="box_astronaut">
                <img class="object_astronaut" src="http://salehriaz.com/404Page/img/astronaut.svg" width="140">
            </div>
        </div>
        <div class="glowing_stars">
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
        </div>
    </div>
</body>
</html>
